body {
  background-image: url("../images/funky-lines.png");
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.maxwidth {
  margin-right: auto;
  margin-left: auto;
  max-width: 1366px;
}

.layout-base {
  padding-top: 30px;
  padding-bottom: 60px;
}

body {
  background-image: url("../images/funky-lines.png");
}

/* copy-paste from box.sass */
/* decoration : border, shadow, rounded */
.box-deco {
  border-radius: 10px;
  color: #4a4a4a;
  display: block;
}

a.box-deco:hover, a.box-deco:focus, a.box-deco:active {
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.175);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.box-deco {
  border: 1px solid #dbdbdb;
}

.header-deco,
.footer-deco {
  border: 1px solid #802020;
}

.box-deco,
.header-deco,
.footer-deco {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.box-deco:hover, .box-deco:focus,
.header-deco:hover,
.header-deco:focus,
.footer-deco:hover,
.footer-deco:focus {
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.175);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.box-deco:hover, .box-deco:focus {
  border: 1px solid #c2c2c2;
}

.header-deco {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-deco {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* stylelint-disable selector-list-comma-newline-after */
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

/* * Blog posts
 * */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-sidebar, .blog-post {
  margin-left: 20px;
  margin-right: 20px;
}

.blog-post-meta {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .blog-column {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px), print {
  .blog-column {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=main.css.map */
