<nav class="pagination is-centered" 
     role="navigation" aria-label="pagination">

    <!-- Previous Page. -->
    {{ if .Page.Next }}
      <a class="pagination-previous post-previous"
         href="{{ .Page.Next.URL | absURL }}"
         title="{{ .Page.Next.Title }}">&laquo;&nbsp;</a>
    {{ end }}

    {{ if .Page.Prev }}
      <a class="pagination-next post-next"
         href="{{ .Page.Prev.URL | absURL }}" 
         title="{{ .Page.Prev.Title }}">&nbsp;&raquo;</a>
    {{ end }}
</nav>
