{{/* view_tag_type : 'before' or 'after' */}}

<section class="panel is-light">
  <div class="panel-header">
    <p>Tags</p>
    <span class="fa fa-tag"></span>
  </div>
  <div class="panel-body has-background-white">
    {{ if eq .view_tag_type "after" }}
      {{ range $name, $taxonomy := .taxonomies.tags }}
        <a class="tag is-small is-light has-background-white"
           href="{{ printf "tags/%s" $name | absURL }}">
          {{ $name }}&nbsp;<span class="fa fa-folder"></span>
        </a>&nbsp;
      {{ end }}
    {{ else }}
      {{ range $name, $taxonomy := .taxonomies.tags }}
        <a class="tag is-small is-light has-background-white"
           href="{{ printf "tags/%s" $name | absURL }}">
          <span class="fa fa-folder"></span>&nbsp;{{ $name }}
        </a>&nbsp;
      {{ end }}
    {{ end }}
  </div>
</section>
