html
  height: 100%

body
  min-height: 100%
  
.maxwidth
  margin-right: 10px
  margin-left: 10px

+desktop
  .maxwidth
    margin-right: auto
    margin-left: auto
    max-width: 1366px

.layout-base
  padding-top: 30px
  padding-bottom: 60px

