<nav role="navigation" aria-label="main navigation"
     class="navbar is-fixed-top is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}">
       <img src="{{ "images/logo-gear.png" | absURL }}"
           alt="Home" />
    </a>
    <a class="navbar-item">
      Home
    </a>
  </div>

  <div id="navbarBulma" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        About
      </a>
    </div>

  </div>
</nav>

