{{ define "general" }}
  <main role="main" class="maxwidth">
    <div class="hero is-info">
      <div class="hero-body">
        <article class="container">
          <h4 class="title is-4 cover-heading">
            {{ .Title | default .Site.Title }}</h4>
          {{ .Content }}
        </article>
      </div>
    </div>
  </main>
{{ end }}
