<section class="panel is-light">
  <div class="panel-header">
    <p>Affiliates</p>
    <span class="fa fa-child"></span>
  </div>
  <div class="panel-body has-background-white">
    <ul class="panel-list">
      <li><a href="http://epsi-rns.github.io/">Linux/BSD Desktop Customization</a></li>
      <li><a href="http://oto-spies.info/">Car Painting and Body Repair.</a></li>
    </ul>
  </div>
</section>
