<section class="panel is-light">
  <div class="panel-header">
    <p>Categories</p>
    <span class="fa fa-tag"></span>
  </div>
  <div class="panel-body has-background-white">
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <a class="tag is-small is-info" href="{{ printf "categories/%s" $name | absURL }}">
        {{ $name }}&nbsp;<span class="fa fa-folder"></span>
      </a>&nbsp;
    {{ end }}
  </div>
</section>
