
    <meta property="og:locale" content="{{ $.Site.LanguageCode | default "en" }}">

  {{- if eq .Page.Params.Type "post" }}
    <meta property="og:type" content="article">
  {{- end }}
    <meta property="og:title" content="{{ .Title | default .Site.Title }}">

  {{- if .Page.Params.Excerpt }}
    <meta property="og:description" content="{{ .Page.Params.Excerpt }}">
  {{- end }}
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">

  {{- if .Page.Params.Opengraph.Image }}
    <meta property="og:image" content="{{ .Page.Params.Opengraph.Image | absURL }}">
  {{- else if eq .Page.Params.Type "post" }}
    <meta property="og:image" content="{{ "/images/epsi-vexel.png" | absURL }}">
  {{- else if .Site.Params.Opengraphimage }}
    <meta property="og:image" content="{{ .Site.Params.Opengraphimage | absURL }}">
  {{- end }}

    <meta property="og:latitude" content="-6.193665"/>
    <meta property="og:longitude" content="106.848558"/>
    <meta property="og:locality" content="Jakarta"/>
    <meta property="og:country-name" content="Indonesia"/>
